flow.json
[
    {
        "id": "7f985097.81b59",
        "type": "tab",
        "label": "Fridge IoT",
        "disabled": false,
        "info": ""
    },
    {
        "id": "449b8d4f.c5b034",
        "type": "mqtt in",
        "z": "7f985097.81b59",
        "name": "Receive MQTT Temperature",
        "topic": "fridgeIoT",
        "qos": "2",
        "datatype": "utf8",
        "broker": "d42153b4.775ac",
        "x": 220,
        "y": 380,
        "wires": [
            [
                "9b711d2a.1a889",
                "b1d18606.25cb78"
            ]
        ]
    },
    {
        "id": "1c75397a.fa21c7",
        "type": "websocket in",
        "z": "7f985097.81b59",
        "name": "WebSocket Server",
        "server": "703b86d1.fae5f8",
        "client": "",
        "x": 790,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "aa19f69f.f054e8",
        "type": "websocket out",
        "z": "7f985097.81b59",
        "name": "Send event to WebSocket",
        "server": "703b86d1.fae5f8",
        "client": "",
        "x": 810,
        "y": 480,
        "wires": []
    },
    {
        "id": "768cc843.e6c088",
        "type": "debug",
        "z": "7f985097.81b59",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 560,
        "wires": []
    },
    {
        "id": "caf447c9.ff1a38",
        "type": "inject",
        "z": "7f985097.81b59",
        "name": "Test Inject Json",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"s__c\":\"123-456-789\", \"t__c\":\"20.00\", \"h__c\":\"35.00\", \"p__c\":\"75.00\"}",
        "payloadType": "str",
        "x": 260,
        "y": 560,
        "wires": [
            [
                "9b711d2a.1a889"
            ]
        ]
    },
    {
        "id": "9b711d2a.1a889",
        "type": "change",
        "z": "7f985097.81b59",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "n__c",
                "fromt": "str",
                "to": "name",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "t__c",
                "fromt": "str",
                "to": "temperature",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "h__c",
                "fromt": "str",
                "to": "humidity",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "p__c",
                "fromt": "str",
                "to": "power",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "s__c",
                "fromt": "str",
                "to": "serial",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 480,
        "wires": [
            [
                "aa19f69f.f054e8",
                "768cc843.e6c088"
            ]
        ]
    },
    {
        "id": "21d6d528.ca6bba",
        "type": "sf-platform-event-pub",
        "z": "7f985097.81b59",
        "name": "Fire Fridge Event",
        "sfconn": "195d7bf4.4b3274",
        "eventobject": "Fridge_Event__e",
        "x": 930,
        "y": 340,
        "wires": [
            [
                "5b6c3128.8dfde"
            ]
        ]
    },
    {
        "id": "f566c97b.e7a818",
        "type": "json",
        "z": "7f985097.81b59",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 710,
        "y": 260,
        "wires": [
            [
                "32aa0a98.5d4c26",
                "21d6d528.ca6bba"
            ]
        ]
    },
    {
        "id": "5b6c3128.8dfde",
        "type": "debug",
        "z": "7f985097.81b59",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1150,
        "y": 340,
        "wires": []
    },
    {
        "id": "b1d18606.25cb78",
        "type": "change",
        "z": "7f985097.81b59",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "p__c",
                "fromt": "str",
                "to": "pwr__c",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "s__c",
                "fromt": "str",
                "to": "serial__c",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "t__c",
                "fromt": "str",
                "to": "temp__c",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "h__c",
                "fromt": "str",
                "to": "hum__c",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 260,
        "wires": [
            [
                "f566c97b.e7a818"
            ]
        ]
    },
    {
        "id": "ecc55a40.5e8aa8",
        "type": "inject",
        "z": "7f985097.81b59",
        "name": "Test ESP Inject Json",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{ \"s__c\": \"123-456-789\", \"t__c\": \"20.50\", \"h__c\": \"12.23\", \"p__c\": \"11.12\" }",
        "payloadType": "str",
        "x": 250,
        "y": 160,
        "wires": [
            [
                "b1d18606.25cb78"
            ]
        ]
    },
    {
        "id": "32aa0a98.5d4c26",
        "type": "debug",
        "z": "7f985097.81b59",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 910,
        "y": 200,
        "wires": []
    },
    {
        "id": "d42153b4.775ac",
        "type": "mqtt-broker",
        "name": "cloudmqtt",
        "broker": "driver.cloudmqtt.com",
        "port": "PORT",
        "clientid": "CLIENTID",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "703b86d1.fae5f8",
        "type": "websocket-listener",
        "path": "/ws",
        "wholemsg": "false"
    },
    {
        "id": "195d7bf4.4b3274",
        "type": "sf-connection-emitter",
        "host": "https://login.salesforce.com",
        "hostType": "str",
        "username": "username@fridge-iot.demo",
        "usernameType": "str",
        "password": "PASSWORD",
        "passwordType": "str",
        "token": "TOKEN",
        "tokenType": "str"
    }
]
